
h1 {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: .5px;
	line-height: 44px;
	color: #FFFFFF;
	margin: 0;
}

p {
	margin: 0;
}

.main-headline {
	 text-shadow: 0 1px 20px #122922;
	 margin-bottom: 16px;
 }

 .main-subheadline {
	 font-size: 24px;
	 font-weight: 400;
	 font-style: italic;
	 line-height: 32px;
	 color: #FFF;
	 display: block;
	 margin-bottom: 32px;
 }

/*
 * buttons
 */

 .btn-cta {
 	display: inline-block;
 	font-size: 18px;
 	font-weight: 900;
 	text-decoration: none !important;
 	text-transform: uppercase;
 	letter-spacing: .6px;
 	line-height: 64px;
 	color: #FFF;
 	padding: 0 32px;
 	background-color: #418FDE;
 	border-radius: 50px;
	box-shadow: 0 4px 20px 0 rgba(0,75,129,0.40);
	-o-transition: .15s linear;
	-moz-transition: .15s linear;
	-webkit-transition: .15s linear;
    transition: .15s linear;
 }

 .btn-cta-hover {
 	color: #FFF !important;
 	background-color: #0082BA;
 	transform: scale(1.02);
 	-o-transition: .15s linear;
	-moz-transition: .15s linear;
	-webkit-transition: .15s linear;
    transition: .15s linear; 
 }

/*
 * above-the-fold
 */

 #above-the-fold {
 	position: relative;
 	overflow: hidden;
 }

 #above-the-fold .overlay-green {
 	position: absolute;
 	z-index: 1;
 	width: 100%;
 	height: 100%;
 	background-color: #285C4D;
 	opacity: .90;
 }

 #above-the-fold .container {
 	position: relative;
 	overflow: hidden;
 	z-index: 2;
 }

 #above-the-fold .container .row:first-of-type {
 	text-align: center;
 	padding: 80px 0 56px 0;
 }

 #above-the-fold #bgvid {
 	position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
 }

 #above-the-fold #office-name {
 	font-weight: 700;
 	letter-spacing: 1px;
 	line-height: 24px;
 	color: #FFF;
 	text-transform: uppercase;
 	display: block;
 	width: 100%;
 	max-width: 288px;
 	margin: 0 auto 16px auto;
 	font-size: 18px;
 }

 #above-the-fold.in-residence .main-subheadline {
 	margin-left: 48px;
 	margin-right: 48px;
 }

 #above-the-fold.in-residence .container .row span:first-of-type {
 	 display: block;
 	 text-align: center;
 	 font-size: 18px;
 	 font-weight: 900;
 	 line-height: 24px;
 	 letter-spacing: 1px;
 	 color: #FFF;
 	 text-transform: uppercase;
 	 margin-bottom: 16px;
 }

 #above-the-fold svg {
 	cursor: pointer;
 	position: absolute;
 	display: none;
 	bottom: 20%;
 	left: 50%; margin-left: -7px;
 	opacity: .8;
 }


/*
 * section-text
 */

 .section-text {
 	position: relative;
 	overflow: hidden;
 }

 .section-text .overlay-white {
 	position: absolute;
 	z-index: 1;
 	width: 100%;
 	height: 100%;
	background-image: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 34%, rgba(255,255,255,0.98) 51%, rgba(255,255,255,0.50) 100%);
 }

 .section-text .row {
 	padding: 64px 0 56px 0;
 	position: relative;
 	overflow: hidden;
 	z-index: 2;
 }
 
 .section-text .section-headline {
 	font-size: 34px;
 	font-weight: 500;
 	line-height: 48px;
 	color: #333;
 	margin: 0 0 16px 0;
 	position: relative;
 	overflow: visible;
 }

 .section-text .section-headline img {
 	position: absolute;
 	top: -32px;
 	right: 0;
 	z-index: -1;
 }

 .section-text ul:before,
 .section-text ul:after { content: ""; display: table; }
 .section-text ul:after { clear: both; }
 .section-text ul { *zoom: 1; }

 .section-text ul {
 	margin: 16px 0 0 0;
 }

 .section-text ul li {
 	line-height: 32px;
 }

 .section-text a {
 	color: #333;
 }

 .section-text .quote-text,
 .section-text .quote-image,
 .section-text .quote-source {
 	display: none;
 }

 .section-text .quote-text {
 	font-size: 16px;
 	line-height: 28px;
 	letter-spacing: .2px;
 	font-style: italic;
 	margin-top: 40px;
 	margin-bottom: 16px;
 }

 .section-text .quote-text > span {
 	font-weight: 900;
 	color: #71C5E8;
 }

 .section-text .quote-image {
 	width: 40px; height: auto;
 	float: left;
 	margin-right: 16px;
 }

 .section-text .quote-source {
 	font-size: 15px;
 	line-height: 40px;
 }

 .section-text.section-text-2.in-residence .col-content p:first-of-type {
 	margin-bottom: 16px;
 }

/*
 * section-quote
 */

 .section-quote {
 	position: relative;
 	overflow: hidden;
 }

 .section-quote .overlay-green {
 	position: absolute;
 	z-index: 1;
 	width: 100%;
 	height: 100%;
 	background-color: #285C4D;
 	opacity: .85;
 }

 .section-quote .container {
 	padding: 56px 16px 64px 16px;
 	text-align: center;
 	position: relative;
 	overflow: hidden;
 	z-index: 2;
 }

 #quote-melissa.section-quote {
 	padding-bottom: 80px;
 }

 .section-quote img {
 	width: 64px; height: auto;
 	margin-bottom: 24px;
 }

 .section-quote .quote-text {
 	font-size: 24px;
 	font-style: italic;
 	line-height: 32px;
 	color: #FAFAFA;
	text-shadow: 0 1px 20px #122922;
	text-align: center;
	margin-bottom: 24px;
 }

 .section-quote .quote-text > span {
 	font-weight: 500;
 	color: #71C5E8;
 }

 .section-quote .quote-author {
 	line-height: 24px;
 	color: #FFF;
 }

/*
 * section-in-residence
 */

 #section-in-residence {
 	position: relative;
 	overflow: hidden;
 	border-top: 2px solid #FFF;
 }

 #section-in-residence .overlay-green {
 	position: absolute;
 	z-index: 1;
 	width: 100%;
 	height: 100%;
 	background-color: #285C4D;
 	opacity: .85;
 }

 #section-in-residence .container {
 	position: relative;
 	overflow: hidden;
 	z-index: 2;
 	text-align: center;
 	padding: 48px 16px 56px 16px;
 }

 #section-in-residence span:first-of-type {
 	font-weight: 900;
 	letter-spacing: 1px;
 	line-height: 24px;
 	color: #FFF;
 	text-transform: uppercase;
 	margin-bottom: 16px;
 	display: block;
 }

 #section-in-residence .main-headline {
 	margin-left: 16px;
 	margin-right: 16px;
 }

 #section-in-residence a:last-of-type {
 	line-height: 24px;
 	color: #FFF;
 	margin-top: 24px;
 	display: block;
 }

/*
 * twitter-timeline
 */

 #twitter-feed.container {
 	padding-top: 40px;
 	padding-bottom: 112px;
 }


/*
 * media-queries
 */

 @media only screen and (min-width: 375px) {

 	/*
 	 * above the fold
 	 */

 	 #above-the-fold .main-subheadline {
 	 	margin-left: 16px;
 	 	margin-right: 16px;
 	 }

 	 #above-the-fold.in-residence .main-headline {
 	 	margin-left: 40px;
 	 	margin-right: 40px;
 	 }

 	 #above-the-fold.in-residence .main-subheadline {
 	 	margin-left: 72px;
 	 	margin-right: 72px;
 	 }

 	/*
 	 * section-in-residence
 	 */

 	 #section-in-residence .main-subheadline {
 	 	margin-left: 24px;
 	 	margin-right: 24px;
 	 }

 }

 @media only screen and (min-width: 414px) {

 	/*
 	 * above the fold
 	 */

 	 #above-the-fold .main-headline {
 	 	margin-left: 16px;
 	 	margin-right: 16px;
 	 }

 	 #above-the-fold .main-subheadline {
 	 	margin-left: 40px;
 	 	margin-right: 40px;
 	 }

 }

 @media only screen and (min-width: 768px) {

 	h1 {
	 	font-size: 45px;
		font-weight: 500;
		line-height: 56px;
		text-transform: uppercase;
 	}

 	.main-headline {
 		margin: 0 40px 24px 40px;
 	}

 	.main-subheadline {
 		margin: 0 80px 40px 80px;
 	}


 	/*
 	 * buttons
 	 */

 	 .btn-cta {
	 	 font-size: 15px;
	 	 line-height: 48px;
 	 }

 	/*
 	 * above-the-fold
 	 */

 	 #above-the-fold .container .row:first-of-type  {
 	 	padding: 180px 0 120px 0;
 	 }

 	 #above-the-fold .main-headline {
 	 	margin-left: 40px;
 	 	margin-right: 40px;
 	 }

 	 #above-the-fold #office-name {
 	 	max-width: 100%;
 	 }

 	 #above-the-fold .main-subheadline {
 	 	margin-left: 136px;
 	 	margin-right: 136px;
 	 }

 	 #above-the-fold.in-residence .main-headline {
 	 	margin-left: 0;
 	 	margin-right: 0;
 	 }

 	/*
 	 * section-text
 	 */

 	 #infinite-solutions.section-text .overlay-white {
 	 	background-image: linear-gradient(-90deg, #FFFFFF 0%, #FFFFFF 40%, rgba(255,255,255,0.97) 59%, rgba(255,255,255,0.60) 100%);
 	 }

 	 .section-text .row {
 	 	padding: 128px 0 88px;
 	 }

 	 .section-text .section-headline img {
 	 	width: 240px;
 	 	right: -32px; top: -48px;
 	 }

 	 #infinite-solutions.section-text .section-headline img {
 	 	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        left: -48px;
 	 }

 	 .section-text ul li {
 	 	float: left;
 	 	width: 50%;
 	 }

 	 .section-text .quote-text,
 	 .section-text .quote-image,
 	 .section-text .quote-source {
 		 display: block;
 	 }

 	 .section-text.section-text-1.in-residence .section-headline,
 	 .section-text.section-text-3.in-residence .section-headline {
 	 	padding-right: 64px;
 	 }

 	/*
 	 * section-quote
 	 */

 	 .section-quote {
 	 	display: none;
 	 }


 	/*
 	 * section-in-residence
 	 */

 	 #section-in-residence {
 	 	border-top: none;
 	 }

 	 #section-in-residence .container {
 	 	padding: 72px 0px 72px 0px;
 	 }

 	 #section-in-residence span:first-of-type {
 	 	margin-bottom: 24px;
 	 }

 	 #section-in-residence .main-headline {
 	 	margin-left: 64px; margin-right: 64px;
 	 }

 	 #section-in-residence a:last-of-type {
 	 	font-size: 16px;
 	 }

 	/*
 	 * twitter-timeline
 	 */

 	 #twitter-feed.container {
 	 	padding-top: 80px;
 	 }

 }

 @media only screen and (min-width: 1024px) {

 	/*
 	 * above-the-fold
 	 */



 }

 @media only screen and (min-width: 1200px) {

 	/*
 	 * above-the-fold
 	 */

 	 #above-the-fold .container {
 	 	height: 100vh;
 	 }

 	 #above-the-fold .container .row:first-of-type  {
 	 	position: relative;
 	 	overflow: hidden;
 	 	padding: 0;
 	 	top: 50%;
 	 }

 	 #above-the-fold #office-name {
 	 	margin-bottom: 24px;
 	 }

 	 #above-the-fold svg {
 	 	display: block;
 	 }

 	 /*
 	  * section-text
 	  */

 	  .section-text .container {
 	  	height: 100vh;
 	  }

 	  .section-text .container .row {
 	  	position: relative;
 	  	overflow: visible;
 	  	top: 50%;
 	  	padding: 0;
 	  }

 	 /* 
 	  * section-in-residence
 	  */

 	  #section-in-residence .container {
 	  	min-height: 100vh;
 	  	position: relative;
 	  	overflow: hidden;
 	  }

 	  #section-in-residence .container {
 	  	padding: 0;
 	  }

 	  #section-in-residence .container .row {
 	  	position: absolute;
 	 	top: 50%;
 	  }

 	  #section-in-residence .main-subheadline {
 		margin: 0 264px 40px 264px;
 	  }

 	/*
 	 * section-text
 	 */

 	 #above-the-fold .container,
 	 .section-text .container {
 	 	max-width: 1800px;
 	 	width: 100%;
 	 }

 }

 @media only screen and (min-width: 1280px) {

 	.main-headline {
 		margin-left: 0;
 		margin-right: 0;
 	}

 	/*
 	 * section-text
 	 */

 	 .section-text .container .row {
 	 	padding: 0;
 	 }

 	 .section-text .col-content {
 	 	max-width: 480px;
 	 	width: 100%;
 	 }

 	 #infinite-solutions.section-text .col-content {
 	 	margin-left: -1em;
 	 }

 	 .section-text .section-headline img {
 	 	width: 320px;
 	 	top: -64px;
 	 }

 }

 @media only screen and (min-width: 1440px) {

 	h1 {
 		font-size: 48px;
 	} 

 }

 @media only screen and (min-width: 1600px) {

 	/*
 	 * section-text
 	 */

 	 #infinite-solutions.section-text .col-content {
 	 	margin-left: 5em;
 	 }

 	 #infinite-solutions.section-text .overlay-white {
 	 	background-image: linear-gradient(-90deg, #FFFFFF 0%, #FFFFFF 50%, rgba(255,255,255,0.97) 59%, rgba(255,255,255,0.60) 100%);
 	 }

 }