
/*
 * page-title-area
 */

 #page-title-area .page-headline {
 	max-width: 320px;
 	width: 100%;
 }

/*
 * page-content
 */

 

/*
 * media-queries
 */

 @media only screen and (min-width: 768px) {

 	/*
 	 * page-content
 	 */

 	 #page-title-area .page-headline {
 	 	max-width: 700px;
 	 }

 }

 @media only screen and (min-width: 1440px) {

 	/*
 	 * page-content
 	 */

 	 #page-title-area .page-headline {
 	 	max-width: 750px;
 	 }

 }