
/*
 * page-title-area
 */

 #page-title-area .page-headline {
 	max-width: 320px;
 	width: 100%;
 }

/*
 * page-content
 */

 #page-content #ic-text-decoration {
 	display: block;
 	margin: 0 auto;
 	margin-bottom: 16px;
 }

 #page-content #text-intro {
 	font-size: 22px;
 	line-height: 34px;
 	font-style: italic;
 	font-weight: 500;
 	color: #285C4D;
 	text-align: center;
 	display: block;
 	margin-bottom: 48px;
 }

 #page-content ul {
 	margin-bottom: 16px;
 }

 #page-content ul li {
 	line-height: 32px;
 }

 #page-content #img-james,
 #page-content #img-james-korea {
 	display: block;
 }

 #page-content #img-james {
 	margin: 0 auto 32px auto;
 }

 #page-content #img-james-korea {
 	margin: 32px 0;
 	width: 100%; height: auto;
 }

/*
 * media-queries
 */

 @media only screen and (min-width: 768px) {

 	/*
 	 * page-title-area
 	 */

 	 #page-title-area .page-headline {
 	 	max-width: 700px;
 	 }

 	/*
 	 * page-content
 	 */

 	 #page-content #text-intro {
 	 	font-size: 24px;
 	 	line-height: 40px;
 	 }

 	 #page-content #img-james,
 	 #page-content #text-james-intro {
 	 	float: left;
 	 }

 	 #page-content #img-james {
 	 	width: 16%;
 	 }

 	 #page-content #text-james-intro {
 	 	width: 84%;
 	 	padding-left: 24px;
 	 }

 }

 @media only screen and (min-width: 1440px) {

 	/*
 	 * page-content
 	 */

 	 #page-title-area .page-headline {
 	 	max-width: 750px;
 	 }

 }