/*
 *
 */

/*
 * page-title-area
 */

 #page-title-area .row {
 	padding: 40px 0 48px 0;
 }

 #page-title-area img {
 	display: block;
 	margin: 0 auto;
 	margin-bottom: 24px;
 }

 #page-title-area .page-headline {
 	max-width: 288px;
 	width: 100%;
 }

/*
 * page-content
 */

 #page-content.container {
 	
 }

 #page-content .row {
 	padding-bottom: 0;
 } 

 #page-content #tulane-logo {
 	display: none;
 }

 #page-content h2 {
 	display: none;
 }

 #col-content {
 	padding-bottom: 24px;
 }

 #page-content #col-image {
 	display: none;
 }

/*
 * gravity-form
 */

 .gform_wrapper .top_label .gfield_label {
 	font-size: 14px;
 	font-weight: 500;
 	text-transform: uppercase;
 	line-height: 24px;
 	letter-spacing: .5px;
 	color: #333;
 	margin-bottom: 0;
 }

 input,
 textarea {
 	border-style: solid;
 	-webkit-appearance: none;
 	border: 1px solid #CCC;
 	border-radius: 4px;
 }

 #gform_wrapper_2 {
 	margin: 0;
 }

 #gform_wrapper_2 .input-field {
 	padding-right: 0;
 }

 #gform_wrapper_2 .input-collaborative-goals {
 	width: 100%;
 }

 #gform_wrapper_2 .input-field input {
 	line-height: 24px;
 	padding: 16px;
 	width: 100%;
 }

 #gform_wrapper_2 .input-field input:focus,
 #gform_wrapper_2 .input-field textarea:focus {
	border: 1px solid #418FDE;
	box-shadow: 0 0 16px 0 rgba(65,143,222,0.20);
	outline: none;
 }

 #gform_wrapper_2 textarea {
 	padding: 18px 16px 16px 16px;
 	min-height: 200px;
 }

 #gform_wrapper_2 .input-field {
 	font-size: 16px;
 	margin-top: 24px;
 }

 #gform_wrapper_2 .gform_button {
 	font-size: 18px;
 	line-height: 64px;
 	font-weight: 700;
 	letter-spacing: .8px;
 	color: #FFF;
 	text-transform: uppercase;
 	background-color: #418FDE;
 	border: none;
 	border-radius: 50px;
 	padding: 0 32px;
 	width: 100%;
 	-o-transition: .15s linear;
	-moz-transition: .15s linear;
	-webkit-transition: .15s linear;
    transition: .15s linear;
 }

 #gform_wrapper_2 .gform_button:hover {
 	color: #FFF !important;
 	background-color: #0082BA;
 	transform: scale(1.02);
 	-o-transition: .15s linear;
	-moz-transition: .15s linear;
	-webkit-transition: .15s linear;
    transition: .15s linear;
 }

 #gform_wrapper_2 .gform_footer {
 	padding: 0;
 	margin: 24px 0 0 0;
 }

 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   color: #CCCCCC;
 }
 ::-moz-placeholder { /* Firefox 19+ */
   color: #CCCCCC;
 }
 :-ms-input-placeholder { /* IE 10+ */
   color: #CCCCCC;
 }
 :-moz-placeholder { /* Firefox 18- */
   color: #CCCCCC;
 }

 input:focus::-webkit-input-placeholder { color:transparent; }
 input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
 input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
 input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

 textarea:focus::-webkit-input-placeholder { color:transparent; }
 textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
 textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
 textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


 /*
 * media-queries
 */

 @media only screen and (min-width: 768px) {

 	/*
 	 * page-title-area
 	 */

 	 #page-title-area .row {
 	 	padding: 64px 0 80px;
 	 }

 	 #page-title-area .page-headline {
 	 	max-width: 700px;
 	 }

 	/*
 	 * gravity-form
 	 */

 	 #gform_wrapper_2 .input-full-name {
 	 	display: inline-block;
 	 	float: left;
 	 	width: 50%;
 	 	clear: none;
 	 	padding-right: 12px;
 	 	margin-top: 8px;
 	 }

 	 #gform_wrapper_2 .input-company-name {
 	 	display: inline-block;
 	 	float: right;
 	 	width: 50%;
 	 	clear: right;
 	 	padding-left: 12px;
 	 	margin-top: 8px;
 	 }

 	 #gform_wrapper_2 .input-phone-number {
 	 	display: inline-block;
 	 	float: left;
 	 	width: 50%;
 	 	clear: none;
 	 	padding-right: 12px;
 	 }

 	 #gform_wrapper_2 .input-email-address {
 	 	display: inline-block;
 	 	float: right;
 	 	width: 50%;
 	 	clear: right;
 	 	padding-left: 12px;
 	 }

 	 #gform_wrapper_2 .input-collaborative-goals {
 	 	display: inline-block;
 	 	float: left;
 	 	margin-bottom: 24px;
 	 }

 	 #gform_wrapper_2 .gform_button {

 	 }

 	
 }

 @media only screen and (min-width: 992px) {

 	div[class^="col-"], div[class*=" col-"] {
		padding-left: 12px; padding-right: 12px;
	}

 	/*
 	 * page-title-area
 	 */

 	 #page-title-area {
 	 	display: none;
 	 }


 	/*
 	 * page-content
 	 */

 	 #col-content {
 	 	overflow-y: scroll;
 	 }

 	 #page-content.container {
 	 	max-width: 100%;
 	 }

 	 #page-content .row {
 	 	padding: 0;
 	 }

 	 #col-content {
 	 	padding: 32px 40px;
 	 	height: 100vh;
 	 }

 	 #page-content #col-content #tulane-logo {
	 	display: block;
	 	margin-bottom: 32px;
	 }

	 #page-content #col-content h2 {
	 	display: block;
	 	margin: 0;
	 	margin-bottom: 24px;
	 	font-size: 24px;
	 	line-height: 40px;
	 	letter-spacing: .5px;
	 	text-transform: uppercase;
	 	font-weight: 500;
	 }

	 #page-content #col-image {
	 	position: relative;
	 	display: initial;
	 	height: 100vh;
	 	padding: 0;
	 }

	 #page-content #col-image .overlay-green {
	 	position: absolute;
	 	top: 0;
	 	width: 100%; height: 100%;
	 	z-index: 1;
	 	background-color: #285C4D;
	 	opacity: .88;
	 }

	 #page-content #col-image #ic-text-decoration {
	 	display: block;
	 	margin-bottom: 16px;
	 	margin: 0 auto 16px auto;
	 }

	 #page-content #col-image .client-quote {
	 	position: relative;
	 	z-index: 2;
	 	text-align: center;
	 }

	 #page-content #col-image .client-quote .quote {
	 	font-size: 24px;
	 	line-height: 40px;
	 	font-style: italic;
	 	color: #FFF;
	 	width: 600px;
	 	margin: 0 auto 24px auto;
	 }

	 #page-content #col-image .client-quote .quote span {
	 	color: #71C5E8;
	 	font-weight: 700;
	 }

	 #page-content #col-image .client-quote #img-quote-author {
	 	width: 40px;
	 	display: inline-block;
	 	margin-right: 8px;
	 }

	 #page-content #col-image .client-quote #author-name {
	 	display: inline-block;
	 	font-size: 16px;
	 	line-height: 40px;
	 	color: #FFF;
	 }


	/*
	 * gravity-form
	 */

	 #gform_wrapper_2 .input-field input {
	 	padding: 12px 16px;
	 }

 }