

/*
 * page-title-area
 */

 #page-title-area .page-headline {
 	max-width: 320px;
 	width: 100%;
 }

/*
 * page-content
 */

 #page-content.container {
 	max-width: 1200px;
 }

 #page-content #juicer-plugin {
 	margin-top: 40px;
 }

 #page-content .post-card {
 	margin-bottom: 24px;
 }

 #page-content .post-card:last-of-type {
 	margin-bottom: 0;
 }

 #page-content .post-card .post-image {
 	height: 160px;
 	border-radius: 6px 6px 0 0;
 	position: relative;
 }

 #page-content .post-card .post-category {
 	position: absolute;
 	bottom: -16px; right: 8px;
 	z-index: 1;
 }

 #page-content .post-card .post-category {
 	background-color: #71C5E8;
 	border-radius: 50px;
 	font-size: 14px;
 	font-weight: 700;
 	letter-spacing: .5px;
 	text-transform: uppercase;
 	line-height: 16px;
 	color: #FFF;
 	text-decoration: none;
 	padding: 8px 14px;
 	display: block;
 	cursor: no-drop;
 	pointer-events: none;
 }

 #page-content .post-card .post-content {
 	border: 1px solid #D9D9D9;
 	border-top: none;
 	padding: 40px 16px 24px 16px;
 	border-radius: 0 0 6px 6px;
 }

 #page-content .post-card .post-content .post-title {
 	font-size: 24px;
 	font-weight: 500;
 	line-height: 32px;
 	margin-bottom: 24px;
 	display: block;
 	text-decoration: none;
 }

 #page-content .post-card .post-content p {
 	display: none;
 }

 #page-content .post-card .post-content a:last-of-type {
 	font-size: 16px;
 	font-weight: 700;
 	line-height: 24px;
 	letter-spacing: .5px;
 	color: #418FDE;
 	text-transform: uppercase;
 	text-decoration: none;
 	display: block;
 }

 #article-nav-older {
 	float: right;
 }
#article-nav-newer {
	float: left;
}
 

/*
 * media-queries
 */

 @media only screen and (min-width: 768px) {

 	div[class^="col-"], div[class*=" col-"] {
		padding-left: 12px; padding-right: 12px;
	}

 	/*
 	 * page-content
 	 */

 	 #page-title-area .page-headline {
 	 	max-width: 700px;
 	 }

 	 #page-content .post-card .post-image {
 	 	height: 216px;
 	 }

 	 #page-content .post-card .post-category {
 	 	font-size: 13px;
 	 	right: 16px;
 	 }

 }

 @media only screen and (min-width: 992px) {

 	/*
 	 * page-content
 	 */

 	 #page-title-area .page-headline {
 	 	max-width: 800px;
 	 }

 	 #page-content .post-card .post-content .post-title {
 	 	margin-bottom: 16px;
 	 }

 	 #page-content .post-card .post-content p {
	 	display: block;
	 	margin-bottom: 24px;
	 }

 }