/*
 *
 */

/*
 * page-title-area
 */

 #page-title-area .page-title {

 }

 #page-title-area .page-title ul {
 	padding: 0;
 	margin: 0;
 }

 #page-title-area .page-title ul li {
 	padding: 0;
 	margin: 0;
 	list-style: none;
 }

 #page-title-area .page-title ul li a {
 	color: #FFF;
 	text-decoration: none;
 	cursor: default;
 	pointer-events: none;
 }

 #page-title-area .page-headline {
 }

 #page-title-area .post-author {
 	font-size: 18px;
 	line-height: 24px;
 	font-style: italic;
 	color: #FFF;
 	display: block;
 	text-align: center;
 	margin-top: 24px;
 }


/*
 * media-queries
 */

 @media only screen and (min-width: 768px) {

 	/*
 	 * page-content
 	 */

 	 #page-title-area .post-author {
 	 	font-size: 21px;
 	 	margin-top: 32px;
 	 }

 }

 @media only screen and (min-width: 1200px) {

 	/*
 	 * page-title-area
 	 */

 	 #page-title-area .row {
 	 	padding-bottom: 128px;
 	 }

 }