/*
 * pdfs
 */

.pdf-items {
  padding-top: 16px;
  padding-bottom: 32px;
}

.pdf-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.pdf-item__text {
  color: #333;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  font-weight: 700;
  max-width: 53%;
}

.pdf-item__icon {
  display: none;
}

.pdf-item__download-button {
  border: 1px solid #418fde;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  text-decoration: none !important;
  -o-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
  padding: 12px 23px 12px 23px;
  border-radius: 50px;
}

.pdf-item__download-button span {
  font-size: 14px;
  color: #418fde;
  font-weight: bold;
}

.pdf-item__download-button:hover {
  background-color: #418fde;
}

.pdf-item__download-button:hover span {
  color: #fff;
}

/*
 * contact-us
 */

.contact-us-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*
 * buttons
 */

.btn-pdf-download {
  border: 1px solid #3884d9;
  border-radius: 50px;
  padding: 14px 40px 14px 32px;
  background-color: transparent;
  text-decoration: none !important;
  display: block;
  -o-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.btn-pdf-download svg {
  fill: #3884d9;
  margin-right: 16px;
  margin-bottom: 5px;
  -o-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

#prieto.btn-pdf-download svg,
#coy.btn-pdf-download svg,
#deininger.btn-pdf-download svg,
#jackson.btn-pdf-download svg,
#lu.btn-pdf-download svg,
#clinical-neuroscience.btn-pdf-download svg,
#zadina.btn-pdf-download svg {
  margin-bottom: 16px;
}

#burow-collins-burrow.btn-pdf-download svg,
#brain-institute.btn-pdf-download svg {
  margin-bottom: 28px;
}

#expertise-pdf.btn-pdf-download svg {
  margin-bottom: -5px;
}

.btn-pdf-download span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #3884d9;
  display: inline-block;
  max-width: 78%;
  -o-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
}

#expertise-pdf.btn-pdf-download span {
  line-height: 48px;
}

.btn-pdf-download-hover {
  background-color: #3884d9;
  -o-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.pdf-item__download-button:hover svg path,
.btn-pdf-download-hover svg path {
  fill: #fff;
  stroke: #fff;
  -o-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.btn-pdf-download-hover span {
  color: #fff;
  -o-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

/*
 * page-title-area
 */

#page-title-area .page-headline {
  max-width: 360px;
  width: 100%;
}

/*
  * expertise-areas
  */

#expertise-areas .expertise-name,
#expertise-areas .expertise-toggle-icon {
  line-height: 80px;
  color: #418fde;
  font-weight: 500;
}

#expertise-areas {
  overflow: auto;
  margin-bottom: 16px;
}

#expertise-areas .expertise {
  cursor: pointer;
  overflow: auto;
  border-bottom: 1px solid #f0f0f0;
}

#expertise-areas .expertise:first-of-type {
  border-top: 1px solid #f0f0f0;
  margin-top: 16px;
}

#expertise-areas .expertise-name {
  font-size: 18px;
  float: left;
}

#expertise-areas .expertise-toggle-icon {
  font-size: 24px;
  float: right;
  width: 32px;
  text-align: center;
}

#expertise-areas .expertise-content {
  padding-bottom: 32px;
  border-bottom: 1px solid #f0f0f0;
}

#expertise-areas .expertise-content h1 {
  margin-top: 0;
}

#expertise-areas .expertise-content .btn-pdf-download {
  margin-top: 16px;
}

#expertise-areas .expertise-content .btn-pdf-download:first-of-type {
  margin-top: 32px;
}

#expertise-pdf {
  margin-top: 8px;
  margin-bottom: 32px;
}

/*
 * media-queries
 */

@media only screen and (min-width: 375px) {
  /*
   * buttons
   */

  .btn-pdf-download span {
    max-width: 100%;
  }
  #burow-collins-burrow.btn-pdf-download span,
  #coy.btn-pdf-download span {
    max-width: 78%;
  }

  .btn-pdf-download svg {
    margin-bottom: 5px;
  }
  #prieto.btn-pdf-download svg,
  #deininger.btn-pdf-download svg,
  #jackson.btn-pdf-download svg,
  #lu.btn-pdf-download svg,
  #clinical-neuroscience.btn-pdf-download svg,
  #brain-institute.btn-pdf-download svg,
  #zadina.btn-pdf-download svg {
    margin-bottom: 5px;
  }
  #burow-collins-burrow.btn-pdf-download svg,
  #coy.btn-pdf-download svg {
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 414px) {
  /*
   * buttons
   */

  #burow-collins-burrow.btn-pdf-download span,
  #coy.btn-pdf-download span {
    max-width: 100%;
  }

  #burow-collins-burrow.btn-pdf-download svg,
  #coy.btn-pdf-download svg {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .pdf-item__download-button span {
    display: none;
  }

  .pdf-item__icon {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  /*
 	 * buttons
 	 */

  .btn-pdf-download {
    display: inline-block;
    margin-right: 16px;
    padding: 14px 56px 14px 48px;
  }

  .btn-pdf-download span {
    /*line-height: 56px;*/
    font-size: 16px;
    line-height: 20px;
  }

  .btn-pdf-download svg {
    margin-bottom: 3px;
  }

  /*
 	 * page-content
 	 */

  #page-title-area .page-headline {
    max-width: 700px;
  }

  /*
 	 * expertise-areas
 	 */

  #expertise-areas .expertise:first-of-type {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  /*
 	 * page-content
 	 */

  #page-title-area .page-headline {
    max-width: 1024px;
  }
}
