/*
 *Theme Name: Tulane Medical University
 *Author: Marlon Lettow
 *Author URI: http://www.91digital.co/
 *Version: 1.0
 */

h1 {
	font-size: 34px;
	line-height: 48px;
	font-weight: 500;
	margin-top: 40px;
	margin-bottom: 16px;
}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #333;
	font-size: 18px;
	position: relative;
}

p {
	font-weight: 400;
	line-height: 32px;
	margin: 0 0 16px 0;
}

blockquote {
 	padding: 0;
    margin: 72px 0 64px 0;
    font-size: 22px;
    text-align: center;
    color: #285C4D;
    font-style: italic;
    border: none;
 }

 blockquote:before {
 	display: block;
 	content: "\201C";
 	font-size: 112px;
 	line-height: 40px;
 	font-family: Georgia, serif;
 	font-style: normal;
 	margin-bottom: -10px;
 }

 blockquote p {
 	margin-bottom: 0;
 }

 blockquote p:first-of-type {
 	font-weight: 500;
 	line-height: 34px;
 }

 blockquote p:last-of-type {
 	font-size: 18px;
 	line-height: 24px;
 	margin-top: 16px;
 }

a:link {
	text-decoration: underline;
}
a:hover {

} 
a:visited {

}
a:active {

}

/*
 * buttons-cta
 */

 .site-header #header.container .btn-work-with-us {
 	font-size: 13px;
 	font-weight: 400;
 	line-height: 40px;
 	letter-spacing: 1px;
 	text-transform: uppercase;
 	color: #71C5E8;
 	text-align: center;
 	padding: 0 24px;
 	border: 1px solid #71C5E8;
 	border-radius: 50px;
 	background-color: transparent;
 	-o-transition: .15s linear;
	-moz-transition: .15s linear;
	-webkit-transition: .15s linear;
    transition: .15s linear;
    text-decoration: none;
    margin-left: 16px;
    white-space: nowrap;
 }
 .site-header #header.container .btn-work-with-us:hover {
 	background-color: #71C5E8;
 	color: #FFF;
 	-o-transition: .15s linear;
	-moz-transition: .15s linear;
	-webkit-transition: .15s linear;
    transition: .15s linear;
 }

/*
 * site-header / site-nav
 */

 .site-header {
 	position: absolute;
 	top: 0; left: 0;
 	width: 100%;
 	z-index: 10;
 	background-color: rgba(40, 92, 77, 0);
 	-o-transition: background-color .1s linear, top .1s linear;
	-moz-transition: background-color .1s linear, top .1s linear;
	-webkit-transition: background-color .1s linear, top .1s linear;
    transition: background-color .1s linear, top .1s linear;
 }

 .site-header-sticky {
 	position: fixed;
 	top: 0 !important;
 	background-color: rgba(40, 92, 77, .95);
 	-o-transition: background-color .15s linear, top .15s linear;
	-moz-transition: background-color .15s linear, top .15s linear;
	-webkit-transition: background-color .15s linear, top .15s linear;
    transition: background-color .15s linear, top .15s linear;
 }

 .site-header #header.container {
 	display: flex;
 	align-items: center;
 }

 .site-nav {
 	position: relative;
 	margin-left: auto;
 	visibility: visible;
 }
 .site-nav-hidden {
 	visibility: hidden;
 }

 .site-nav ul {
 	padding: 0;
 	margin: 0;
 }

 .site-nav ul:before,
 .site-nav ul:after { content: ""; display: table; }
 .site-nav ul:after { clear: both; }
 .site-nav ul { *zoom: 1; }

 .site-nav .visible-links .current-menu-item a,
 .site-nav .hidden-links .current-menu-item a {
 	color: #71C5E8;
 }

 .site-header .logo-tulane {
 	background-size: auto 40px;
 	background-repeat: no-repeat;
 	min-width: 28px;
 	width: 28px; height: 40px;
 }

 .site-nav .nav-li-residence a {
 	position: relative;
 }

 .site-nav .nav-li-residence a:after {
 	content: "New";
 	position: absolute;
 	border-radius: 50px;
 	min-height: 16px;
 	font-size: 9px;
 	text-transform: uppercase;
 	font-weight: 700;
 	color: #FFF;
 	letter-spacing: .4px;
 	line-height: 10px;
 	padding: 3px 6px;
 	background-color: #418FDE;
 }
 .site-nav .nav-li-residence a:after {
 	top: 4px; right: -4px;
 }

 .site-nav .btn-more a {
 	font-size: 15px;
 	line-height: 64px;
 	color: #FFF;
 	letter-spacing: .8px;
 	font-weight: 700;
 	text-transform: uppercase;
 	cursor: pointer;
 	position: relative;
 }

 .site-nav .btn-more-hidden {
 	display: none !important;
 }

 .site-nav .btn-more a:after {
 	position: absolute;
 	width: 0; height: 0;
 	top: 50%; right: 0;
 	content: "";
 	border: 4px solid transparent;
 	border-top: 6px solid #FFF;
 	margin-top: -3px;
 	-o-transition: .15s linear;
	-moz-transition: .15s linear;
	-webkit-transition: .15s linear;
    transition: .15s linear;
 }

 .site-nav .visible-links {
 	display: inline-table;
 }

 .site-nav .visible-links li {
 	list-style: none;
 	display: table-cell;
 }

 .site-nav .visible-links li .visible-link-hover {
 	color: #71c5e8;
 	-o-transition: color .15s linear;
	-moz-transition: color .15s linear;
	-webkit-transition: color .15s linear;
    transition: color .15s linear;
 }

 .site-nav .visible-links li .visible-link-hover:after {
 	border-top-color: #71c5e8;
 	-o-transition: .15s linear;
	-moz-transition: .15s linear;
	-webkit-transition: .15s linear;
    transition: .15s linear;
 }

 .site-nav .visible-links .nav-li-home {
 	width: 62px;
 	max-width: 62px;
 }
 .site-nav .visible-links .nav-li-expertise {
 	width: 100px;
 	max-width: 100px;
 }
 .site-nav .visible-links .nav-li-residence {
 	width: 125px;
 	max-width: 125px;
 }
 .site-nav .visible-links .nav-li-about {
 	width: 70px;
 	max-width: 70px;
 }
 .site-nav .visible-links .nav-li-events {
 	width: 77px;
 	max-width: 77px;
 }
 .site-nav .btn-more {
 	width: 67px;
 	max-width: 67px;
 }

 .site-nav .visible-links li a,
 .site-nav .btn-more a {
 	display: inline-block;
 	text-decoration: none;
 	line-height: 64px;
 	color: #FFF;
 	font-size: 0.833em;
 	letter-spacing: .8px;
 	font-weight: 700;
 	text-transform: uppercase;
 	white-space: nowrap;
 	-o-transition: color .15s linear;
	-moz-transition: color .15s linear;
	-webkit-transition: color .15s linear;
    transition: color .15s linear;
 }
 .site-nav .visible-links li a {
 	padding: 0 8px;
 }
 .site-nav .visible-links .btn-more a {
 	padding: 0 14px 0 8px;
 }

 .site-nav .hidden-links {
 	visibility: visible;
 	opacity: 1;
 	position: absolute;
 	right: 0;
 	top: 100%;
 	background-color: #FFF;
 	padding: 16px 32px;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.50);
	border-radius: 6px;
	-o-transition: .15s linear;
	-moz-transition: .15s linear;
	-webkit-transition: .15s linear;
    transition: .15s linear;
 }

 .site-nav .hidden-links:after {
 	position: absolute;
    width: 0;
    height: 0;
    top: -16px;
    right: 28px;
    content: "";
    border: 8px solid transparent;
    border-bottom: 8px solid #FFF;
    margin-top: 0px;
 }

 .site-nav .hidden-links-hidden {
 	visibility: hidden;
 	opacity: 0;
 	-o-transition: .15s linear;
	-moz-transition: .15s linear;
	-webkit-transition: .15s linear;
    transition: .15s linear;
 }

	 .site-nav .hidden-links li {
	 	display: block;
	 }

	 	.site-nav .hidden-links li a {
	 		display: block;
	 		font-size: 0.833em;
	 		text-transform: uppercase;
	 		font-weight: 900;
	 		letter-spacing: .8px;
	 		line-height: 40px;
	 		white-space: nowrap;
	 		text-decoration: none;
	 		color: #285C4D;
	 	}

	 .site-nav .hidden-links .nav-li-residence a {
	 	position: relative;
	 }
	 .site-nav .hidden-links .nav-li-residence a:after {
	 	top: -8px; right: -12px;
	 }

 .site-header #header.container .btn-work-with-us {
 	display: none;
 }


/*
 * page-content
 */

 #page-title-area {
 	position: relative;
 }

 #page-title-area .overlay-green {
 	position: absolute;
 	top: 0;
 	width: 100%; height: 100%;
 	z-index: 1;
 	background-color: #285C4D;
 	opacity: .85;
 }

 #page-title-area .row {
 	position: relative;
 	z-index: 2;
 	padding: 88px 0 48px 0;
 }

 #page-title-area .page-title {
 	display: block;
 	font-size: 16px;
 	font-weight: 700;
 	color: #FFF;
 	letter-spacing: .8px;
 	line-height: 24px;
 	margin-bottom: 8px;
 	text-align: center;
 	text-transform: uppercase;
 }

 #page-title-area .page-headline {
 	font-size: 34px;
 	font-weight: 500;
 	line-height: 48px;
 	text-align: center;
 	color: #FFF;
	text-shadow: 0 1px 20px #122922;
	margin: 0 auto;
 }

 #page-content a {
 	color: inherit;
 }

 #page-content.container {
 	width: 100%;
 	max-width: 700px;
 }

 #page-content .row {
 	padding: 40px 0 112px 0;
 }


/*
 * scroll-to-top
 */

 #row-scroll-to-top {
 	position: absolute;
 	right: 16px; top: -120px;
 	z-index: 2;
 	cursor: pointer;
 }

 #svg-scroll-to-top #scroll-to-top-rectangle,
 #svg-scroll-to-top #scroll-to-top-arrow {
 	-o-transition: stroke .15s linear, fill .15s linear;
	-moz-transition: stroke .15s linear, fill .15s linear;
	-webkit-transition: stroke .15s linear, fill .15s linear;
    transition: stroke .15s linear, fill .15s linear;
 }

 #svg-scroll-to-top #scroll-to-top-rectangle,
 #svg-scroll-to-top #scroll-to-top-arrow {
 	fill: transparent;
 }

 #svg-scroll-to-top.svg-hover #scroll-to-top-rectangle {
 	fill: #285C4D;
 	-o-transition: fill .15s linear, stroke .15s linear;
	-moz-transition: fill .15s linear, stroke .15s linear;
	-webkit-transition: fill .15s linear, stroke .15s linear;
    transition: fill .15s linear, stroke .15s linear;
 }

 #svg-scroll-to-top.svg-hover #scroll-to-top-arrow {
 	stroke: #FFF;
 	fill: #285C4D;
 	-o-transition: stroke .15s linear, fill .15s linear;
	-moz-transition: stroke .15s linear, fill .15s linear;
	-webkit-transition: stroke .15s linear, fill .15s linear;
    transition: stroke .15s linear, fill .15s linear;
 }

/*
 * site-footer
 */

 .site-footer {
	 background-color: #285C4D;
	 color: #FFF;
	 text-align: center;
	 font-size: 16px;
	 padding: 56px 0;
 }

 .site-footer .container {
 	position: relative;
 }

 .site-footer a {
	 color: #FFF;
	 opacity: 1;
 }

 .site-footer .section-title {
	 display: block;
	 font-size: 16px;
	 line-height: 24px;
	 text-transform: uppercase;
	 font-weight: 700;
	 letter-spacing: .5px;
	 margin: 0 0 16px 0;
 }

 #footer-address #address {
	 display: block;
	 margin: 0 0 16px 0;
	 line-height: 24px;
 }

 #footer-address #email {
 	margin-bottom: 24px;
 }
 
 #footer-address #phone > span,
 #footer-address #mobile > span,
 #footer-address #email > a {
	 line-height: 32px;
 }

 #footer-links {
	 display: none;
 }

 #footer-links a {
	 line-height: 24px;
 }

 .footer-social {
	 margin: 32px 0 0 0;
 }

 .footer-social a {
	 display: inline-block;
 }

 .footer-social .section-title:last-of-type {
 	margin-top: 24px;
 }

 .footer-social #social-twitter {
	 margin-right: 8px;
 }
 .footer-social #social-linkedin {
	 margin-left: 8px;
 }

 .footer-social svg .social-container,
 .footer-social svg .social-icon {
	 -o-transition: fill .15s linear;
	 -moz-transition: fill .15s linear;
	 -webkit-transition: fill .15s linear;
     transition: fill .15s linear;
 }

 .footer-social .svg-hover .social-container {
	 fill: #FFF;
	 -o-transition: fill .15s linear;
	 -moz-transition: fill .15s linear;
	 -webkit-transition: fill .15s linear;
     transition: fill .15s linear;
 }
 .footer-social .svg-hover .social-icon {
	 fill: #285C4D;
	 -o-transition: fill .15s linear;
	 -moz-transition: fill .15s linear;
	 -webkit-transition: fill .15s linear;
     transition: fill .15s linear;
 }

/*
 * juicer-plugin
 */

 .juicer-button {
     display: none !important;
 }

 .referral {
     display: none !important;
 }

 .juicer {
     display: none !important;
 }

 .j-filters {
 	display: none !important;
 }

 .juicer-feed.modern li.feed-item {
 	border-width: 1px;
 }

/*
 * media-queries
 */

 @media only screen and (min-width: 375px) {

 	/*
 	 * page-content
 	 */

 	 #page-title-area .page-headline {
 	 	
 	 }

 }

 @media only screen and (min-width: 768px)  {

 	blockquote {
 		font-size: 24px;
 		margin: 104px 0 72px 0;
 	}

 	blockquote p:first-of-type {
 		line-height: 40px;
 	}

 	/*
 	 * site-header / site-nav
 	 */

 	 .site-nav {
 	 	margin-right: 0;
 	 }

 	 .site-header .logo-tulane {
 	 	min-width: 125px;
 	 	width: 125px;
 	 	height: 45px;
 	 }

 	/*
 	 * page-content
 	 */

 	 #page-title-area .row {
 	 	padding: 176px 0 120px 0;
 	 }

 	 #page-title-area .page-title {
 	 	letter-spacing: 1px;
 	 	margin-bottom: 16px;
 	 }
 	 #page-title-area .page-headline {
 	 	text-transform: uppercase;
 	 	letter-spacing: .5px;
 	 	font-size: 45px;
 	 	line-height: 64px;
 	 	font-weight: 500;
 	 }

 	/*
 	 * scroll-to-top
 	 */

 	 #row-scroll-to-top {
 	 	top: -144px;
 	 }

 	/*
 	 * site-footer
 	 */

 	 .site-footer {
 		 text-align: left;
 		 padding: 80px 0;
 		 font-size: 14px;
 	 }

 	 .site-footer a {
 		 text-decoration: none;
 		 opacity: .75;
 		 -o-transition: opacity .15s linear;
	     -moz-transition: opacity .15s linear;
	     -webkit-transition: opacity .15s linear;
         transition: opacity .15s linear;
 	 }
 	 .site-footer a:hover {
 		 opacity: 1;
 		 -o-transition: opacity .15s linear;
	     -moz-transition: opacity .15s linear;
	     -webkit-transition: opacity .15s linear;
         transition: opacity .15s linear;
 	 }

 	 .site-footer .section-title {
		 font-size: 14px;
	 }

	 #footer-address #phone > span,
	 #footer-address #mobile > span,
	 #footer-address #email > a {
		 line-height: 24px;
	 }

	 #footer-address #address a,
	 #footer-address #phone a,
	 #footer-address #mobile a,
	 #footer-address #email a {
		 /*text-decoration: underline*/;
	 }

 	 #footer-links {
 		 display: block;
 	 }

 	 .footer-social {
 		 margin: 0;
 	 }


 }

 @media only screen and (min-width: 768px) {

 	/*
 	 * site-header / site-nav
 	 */

 	 .site-header {
 	 	top: 16px;
 	 	padding-top: 8px;
 	 	padding-bottom: 8px;
 	 }

 	 .site-header #header.container {
 	 	margin-top: 4px; margin-bottom: 4px;
 	 }

 	 .site-nav .visible-links .nav-li-residence a:after {
 	 	top: -8px; right: -1px;
 	 }

 	 .site-nav .visible-links li a,
 	 .site-nav .btn-more a {
 	 	font-size: 13px;
 	 	line-height: 40px;
 	 	letter-spacing: .5px;
 	 	font-weight: 500;
 	 	padding: 0 12px;
 	 }

 }

 @media only screen and (min-width: 992px) {

 	/*
 	 * site-header / site-nav
 	 */

 	 .site-header #header.container .btn-work-with-us {
 	 	display: initial;
 	 }

 }

 @media only screen and (min-width: 1024px) {

 	#header.container {
 		padding-left: 24px; padding-right: 24px;
 	}

 	/*
 	 * page-content
 	 */


 }

 @media only screen and (min-width: 1200px) {

 	#header.container {
 		max-width: 1800px;
 		width: 100%;
 	}

 	/*
 	 * page-content
 	 */

 	 #page-title-area .row {
 	 	padding: 216px 0 144px 0;
 	 }

 	 #page-content .row {
 	 	padding-top: 80px;
 	 }

 }

 @media only screen and (min-width: 1440px) {

 	.site-header {
 		line-height: 58px;
 		padding-top: 0;
 		padding-bottom: 0;
 	}

 	/*
 	 * page-content
 	 */

 	 #page-title-area .page-headline {
 	 	font-size: 48px;
 	 }

 }